<!-- ###TEMPLATE### begin -->
<rss version="2.0">
	<channel>
		<title>###RSS_TITLE###</title>
		<link>###LINKTOLIST###</link>
		<description>###RSS_DESCRIPTION###</description>
		<language>###LANGUAGE###</language>

		<!-- ###RSS_IMAGE_TEMPLATE### begin -->
			<image>
				<url>###RSS_IMAGE###</url>
				<title>###RSS_TITLE###</title>
				<link>###LINKTOLIST###</link>
			</image>
		<!-- ###RSS_IMAGE_TEMPLATE### end -->

		<!-- ###ROWS### begin -->
			<!-- ###ROW### begin -->
			<item>
				<title><![CDATA[###JOB_TITLE###]]></title>
				<link>###LINKTODETAIL###</link>
				<guid>###LINKTODETAIL###</guid>
				<pubDate>###CRDATE###</pubDate>
				<description><![CDATA[###JOB_DESCRIPTION###]]></description>
			</item>
			<!-- ###ROW### end -->
		<!-- ###ROWS### end -->

	</channel>
</rss>
<!-- ###TEMPLATE### end -->
