<!-- ###TEMPLATE### begin -->

	<form ###FORM_ATTRIBUTES###>
		<input type="hidden" name="###SEARCH_NAME###" value="###SEARCH_LABEL###" />
		
		<table cellspacing="0" class="dmmjobcontrol_search_table">
			<tr class="dmmjobcontrol_search_tr">
				<td class="dmmjobcontrol_search_td1">
					###KEYWORD_LABEL###
				</td>
				<td class="dmmjobcontrol_search_td2">
					<input type="text" name="###KEYWORD_NAME###" value="###KEYWORD_VALUE###" class="dmmjobcontrol_input dmmjobcontrol_keyword" />
				</td>
			</tr>
			<tr class="dmmjobcontrol_search_tr">
				<td class="dmmjobcontrol_search_td1">
					###SECTOR_LABEL###
				</td>
				<td class="dmmjobcontrol_search_td2">
					###SECTOR_SELECT###
				</td>
			</tr>
			<tr class="dmmjobcontrol_search_tr">
				<td class="dmmjobcontrol_search_td1">
					###REGION_LABEL###
				</td>
				<td class="dmmjobcontrol_search_td2">
					###REGION_SELECT###
				</td>
			</tr>
			<tr class="dmmjobcontrol_search_tr">
				<td class="dmmjobcontrol_search_td1">
					###CATEGORY_LABEL###
				</td>
				<td class="dmmjobcontrol_search_td2">
					###CATEGORY_SELECT###
				</td>
			</tr>
			<tr class="dmmjobcontrol_search_tr">
				<td class="dmmjobcontrol_search_td1">
					###EDUCATION_LABEL###
				</td>
				<td class="dmmjobcontrol_search_td2">
					###EDUCATION_SELECT###
				</td>
			</tr>
			<tr class="dmmjobcontrol_search_tr">
				<td class="dmmjobcontrol_search_td1">
					###CONTRACT_TYPE_LABEL###
				</td>
				<td class="dmmjobcontrol_search_td2">
					###CONTRACT_TYPE_SELECT###
				</td>
			</tr>
			<tr class="dmmjobcontrol_search_tr">
				<td class="dmmjobcontrol_search_td1">
					&nbsp;
				</td>
				<td class="dmmjobcontrol_search_td2">
					<input type="submit" name="###RESET_NAME###" value="###RESET_LABEL###" class="dmmjobcontrol_submit dmmjobcontrol_search_reset" />
					<input type="submit" name="###SEARCH_NAME###" value="###SEARCH_LABEL###" class="dmmjobcontrol_submit dmmjobcontrol_search_submit" />
				</td>
			</tr>
		</table>
	</form>

<!-- ###TEMPLATE### end -->